[submodule "themes/after-dark"]
	path = themes/after-dark
	url = https://github.com/getzola/after-dark.git
[submodule "themes/anemone"]
	path = themes/anemone
	url = https://github.com/getzola/after-dark.git
